@model CollectorApp.Core.Models.Subject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="col-md-12">
    <div class="col-md-4 img-responsive" style="padding-top:30px;">
        <img class="img img-responsive" style="height:250px; margin: 0 auto;" src="~/Content/SubjectImages/@Model.Image" />
    </div>
    <div class="col-md-8 ">
        <h2 class="text-center">@Html.DisplayFor(model => model.Title)</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt):
            </dt>

            <dd>
                @Model.CreatedAt.Date.ToShortDateString()
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genre):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Publisher):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Publisher)
            </dd>
            <dt></dt>
            <dd>@Html.ActionLink("Back to List", "Index")</dd>
            <dt></dt>
            <dd>

            </dd>
        </dl>
        <div class="col-md-12 text-center " style="margin-bottom:10px">
            @Html.ActionLink("Edit", "Edit", "SubjectManager", new { id = Model.Id }, new { @class = "btn btn-success col-md-4 col-md-offset-2" })
        </div>
        <div class="col-md-12 text-center" style="margin-bottom:10px">
            @Html.ActionLink("Delete", "Delete", "SubjectManager", new { id = Model.Id }, new { @class = "btn btn-danger col-md-4 col-md-offset-2" })
        </div>
    </div>
</div>
<div class="col-md-12 text-center " style="margin-bottom:10px">
    @if (Model.IsBorrowed)
    {
        @Html.Action("DetailsReturn", "Borrowing", new { subjectId = Model.Id })
    }
    else
    {
        @Html.Partial("~/Views/Borrowing/DetailsBorrow.cshtml")
    }

</div>



